mixin ttt(value)
    p=value

mixin intro(content)
    section.intro-section 
        .intro-section__decor
        header.intro-section__header 
            .intro-section__logo 
                img(src=content.header.logoImg, alt="")
            nav.intro-section__links   
                each v in content.header.links
                    a.intro-section__link(href="#")= v
        .intro-section__main 
            .intro-section__left-block
                h2.intro-section__title= content.main.title
                p.intro-section__price= content.main.price
                .intro-section__tv-row 
                    .intro-section__tv-img
                        img(src=content.main.tv.img, alt="")
                    p.intro-section__tv-text= content.main.tv.text
                button.intro-section__button= content.main.button
            .intro-section__right-block
                .intro-section__img-label 
                    img(src=content.main.labelImg, alt="")
                .intro-section__name= content.main.name[0]
                    //- +carousel(content.main.name, "ttt")(data-carousel="carouselMain")
